<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        .container{
            display: flex;
            justify-content: center;
            flex:1;
            flex-direction: column;
            
        }
        .header{
            flex:1;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            padding:15px;
        }
        .body1{
            flex:1;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>AI Assisstant <br/> TONY</h1>
            <a type="button" class="btn btn-primary" href="/ai">Get Started</a>

        </div>
        <div class="body1">
            <h2>* TUTORIAL *</h2>
            <h4>Tony AI Assisstant can do search on Youtube and Google for you by voice command</h4>
            <p>To greeting say Hello</p>
            <p>To search video on Youtube say: keywords + on Youtube</p>
            <p>To search on Google say: keywords + on Google</p>
            <p>To stop talking with Tony say: stop program</p>

        </div>
    </div>
</body>
</html>